<?xml version="1.0"?>

<robot name="opera">

    <link name="base_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://opera_description/models/base.dae"/>
            </geometry>
        </visual>
    </link>

    
  
    
</robot>
